{{>header}}
    <p>This site uses data from mapbox and weatherstack api</p>
    <img src="img/1.jpg" alt="my image" class="about"> <br/>
    </div> <!--main-content-->
    <div id="back"><a href="/">Back</a></div>
    
{{>footer}}