body {
    color: #333333;
    font-family: arial;
    max-width: 650px; /*centering*/
    margin: 0 auto;
    padding: 0 16px;
    /*making the page full-sized - footer in bottom always*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content { 
    flex-grow: 1;
}
/*here the end of page sizing*/
footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

img.about {
    width: 250px;
}

#back, a {
    color: #888888;
    margin-top: 16px;
    text-decoration: none;

}

#searchInput {
    border: 1px solid #cccccc;
    padding: 8px;

}

#submitBtn{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}
#submitBtn:hover{
    background: #333333;
    border: 1px solid #333333;
}